.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  
  .add-button-container {
    display: flex;
    align-items: center;
   justify-content: center;
   margin-bottom: 10px;
  }
  
  .add-button-style {
    padding: 10px 15px;
    background-color: #ddd; /* Светло-серый цвет для фона кнопки */
    color: #423241; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
.txttodo {
    font-size: 2em;
    color: #423241;
    text-shadow: 4px 4px 8px white;
  }
  

  
  .add-button-style {
    padding: 10px 15px;
    background-color: #ccc;

    color: #423241;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px; 
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3)

  }
  
  .round-button-style {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .round-icon {
    color: #423241;
    font-size: 16px;
  }
  
  .task-buttons {
    display: flex;
    align-items: center; 
  }
  
  .checkbox-style {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
  }
  
  .checkbox-style:checked {
    background-color: #ccc;
  }
  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }  
 




