/* Header.css */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10; /* Значение z-index может измениться в зависимости от вашего дизайна */
  }
  
  .header-left,
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-icon {
    font-size: 30px;
    color: #555555; /* Серый цвет иконок */
    margin-right: 10px;
    cursor: pointer;
  }
  
  .home-icon {
    margin-left: 50px;
  }
  
  .logout-icon {
    margin-right: 50px;
  }
  .logout-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../pictures/modal-back.jpg');
    background-size: cover; /* чтобы изображение занимало весь экран */
    background-position: center; /* чтобы изображение было выровнено по центру */
    background-repeat: no-repeat;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Значение z-index выше, чем у Header */
  }
  
  .logout-modal p {
    margin-bottom: 20px;
  }
  
  .logout-modal button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }