body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100vh; /* Чтобы .App занимал всю высоту видимой области */
  background-image: url('./Components/pictures/back.jpg');
  background-size: cover; /* чтобы изображение занимало весь экран */
  background-position: center; /* чтобы изображение было выровнено по центру */
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}


.waviy {

  display: flex;
  align-items: center;
  justify-content: center
  }
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 5em;
  color: #423241;
  text-shadow: 4px 4px 8px white;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center
}
.button-style {
  padding: 10px 15px;
  background-color: #ccc;
  color: #423241;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin: 20px;
}
.txttodo {
  font-size: 5em;
  color: black;
  text-shadow: 4px 4px 8px white;
}

