/* styles.css */
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
  }
  
  .task-buttons {
    display: flex;
  }
  
  .task-buttons button {
    margin-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #f0f0f0;
    }
  }
  
  .task-buttons .fa {
    font-size: 18px;
  }
  
  .task-buttons .fa-pencil {
    color: blue;
  }
  
  .task-buttons .fa-trash {
    color: red;
  }
  
  .task-buttons .fa-check {
    color: green;
  }
  
  .task-buttons .fa:hover {
    color: #333; 
  }
  